/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
                /* Row 0 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                /* Row 1 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                /* Row 2 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                /* Row 3 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                /* Row 4 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                /* Row 5 */
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
