#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define COMMON 1
#define FIXRALT 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp a     	    
                &kp b         
				&kp c       
				&lt d
				&kp e
				&kp f
            >;          
        };
    };
};
